<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <%= link_to "COOKOO", meals_path, class: "navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <div class="forms">
      <%= form_tag(category_meals_path, :method => "get",
          class: 'search-form d-inline form-inline my-2 my-lg-0 mr-2') do %>
        <%= search_field_tag :search, params[:search], placeholder: "French,  Brazilian...", class: "form-control mr-sm-2", id: "type" %>
        <%= button_tag "Find Food", class: "btn btn-outline-success my-2 my-sm-0",
            :name => nil%>
      <% end %>
      <form class="d-inline form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Change Location" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">📍</button>
      </form>
    </div>

    <% if user_signed_in? %>

      <% if current_user.class == Cook %>

        <! ---- Cook avatar dropdown ---->
        <div class="dropdown dropleft">
            <%= image_tag (current_user.photo), class: "avatar dropdown-toggle", id: "dropdownMenuButton", data: {toggle: "dropdown"} %>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Profile</a>
            <%= link_to "My Dashboard", dashboards_path(current_user), class: "dropdown-item"  %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item"  %>
          </div>
        </div>
      <% else %>
        <! ---- User avatar & dropdown ---->
        <div class="dropdown dropleft">
          <%= image_tag (current_user.photo), class: "avatar dropdown-toggle", id: "dropdownMenuButton", data: {toggle: "dropdown"} %>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Profile</a>
            <%= link_to "My Order", order_path(current_user), class: "dropdown-item"  %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item"  %>
          </div>
        </div>
      <% end %>

    <% else %>
      <! ---- Log in / Sign up ---->
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"  %>
          </li>
          <li class="nav-item active">
            <%= link_to "Log In", new_user_session_path, class: "nav-link"  %>
          </li>
        </ul>
      </div>
    <% end %>

  </div>
</nav>
