<% @orders.each do |order| %>
  <div class="d-flex justify-content-around mb-3">
    <%= image_tag (order.user.photo), class: "avatar mt-2" %>
    <div class="card" style="width: 70%;">
      <div class="d-flex justify-content-between pb-0">
        <div class="text-left p-2" style="height: 85px; font-size: 12px;">
          <p><strong><%= order.user.first_name %> <%= order.user.last_name %></strong>
          <br>Pick Up Time: <%= order.time.strftime('%H:%M %p') %>
          <br>Order: <%= order.meal.title %> x <%= order.quantity %>
          <br>Total: EUR €<%= order.meal.price * order.quantity %></p>
        </div>
        <div class="complete mr-4 mt-1">
          <% if order.completed %>
            <input type="checkbox" name="order[completed]" checked>
            <p style="font-size: 12px;">Complete</p>
          <% else %>
            <%= render "admin/orders/update" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

