<div class="container justify-content-center">
  <div class="card text-center">
    <div class="card-header">
      <strong>Your order is complete!   🥳</strong>
    </div>
    <div class="card-body">
      <h5 class="card-title">ORDER SUMMARY</h5><br>
      <p class="card-text"><strong>PICK UP TIME:</strong><br><%= @order.time.strftime('%H:%M %p') %></p><br>
      <p class="card-text"><strong>YOUR MEAL OF THE DAY:</strong><br>
        <%= @order.meal.title %> x <%= @order.quantity %>
      </p>
      <p class="card-text"><strong>TOTAL:</strong><br>
        EUR <%= @order.quantity * @order.meal.price %>
      </p>
    </div>

    <% if @order.review == nil %>
    <div class="card-footer text-muted">
      And don't forget to leave a review !
    </div>
    <%= simple_form_for @order, url: review_save_path do |f| %>
    <%= f.input :rating, collection: 1..5, selected: 5 %>
    <%= f.input :review %>
    <%= f.submit "add a review", class: "btn btn-flat" %>
    <% end %>
    <br><br>
    <% else %>
    <div class="card-footer text-muted">
      <img src="https://media.giphy.com/media/3osxYdXvsGw6wT5lIY/giphy.gif">
    </div>
    <% end  %>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-marker="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
<script type="text/javascript">
  $j("<%= "#stars-wrapper" << @order.id.to_s %>").stars({
    callback: function(value, link){
      document.getElementById("starbutton").click();
    }
  });
</script>
