<div class="container">
  <div class="main-banner">
    <h2> <%= @meal.title %></h2>
      <div class="chef-banner">
        <img src="<%= @meal.cook.photo %>" class="card-trip-user avatar-bordered" />
      </div>
        <div class="chef-reviews">
        <% @user.average_rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <br />
       <%= link_to "reviews" %>
      </div>
</div>


    <div class="card-meal" style="background-image: url(<%= @meal.photo %>);">
      <div class="meal-order">
          <div class="border-bottom"> <p><%= @meal.description %> | <strong><%= @meal.category %></strong></p>
          </div>
            <div class="order-form">
              <%= render(current_user ? "form" : "call_to_authenticate") %>
            </div>
      </div>
    </div>

    <div class="card-product-other-meals">
      <h3>Other chef's meals</h3>
        <div class="cards">
          <div class="card-other-meals">
            <img src="https://images.unsplash.com/photo-1468777675496-5782faaea55b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" />
            <p>Name of the meal</p>
          </div>
        </div>
    </div>
</div>
