<div class="container">
  <div class="main-banner">
    <h2> <%= @meal.title %></h2>
      <div class="chef-banner">
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        <br>
      <i class="fas fa-star"></i>
      </div>
  </div>

    <div class="card-meal">
      <div class="meal-order">
          <div class="border-bottom"> <p><%= @meal.description %> | <%= @meal.category %></p>
          </div>
            <div class="order-form">
              <%= render("form") %>
            </div>
      </div>
    </div>
    <br> <br>
    <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-marker="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>

<%= render 'confirmation_popup' %>
