<div class="container">
  <h1>My Dashboard</h1>
  <p><%= Date.today.to_formatted_s(:long) %></p>

  <div class="container">

    <div class="row">


      <div class="col-4">
      <! --- Profile bar ---->
        <div class="card-prof-bar p-3 mt-3 mb-3">

          <! --- Header ---->
          <div class="cards-prof-bar">
            <%= image_tag (current_user.photo), class: "avatar-dashboard" %>
            <div class="card-profile">
              <p class="mb-1"><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>
              <p>Rating <i class="fas fa-star" style="font-size: 15px;"></i> <%= current_user.average_rating %></p>
            </div>
          </div>

          <! --- Order cards ---->
          <div class="cards-prof-bar">
            <div class="card-prof-bar">
              <i class="far fa-file-alt"></i>
              <h3>50</h3>
              <p>New Orders</p>
            </div>
            <div class="card-prof-bar ml-2">
              <i class="fas fa-file-alt"></i>
              <h3>80</h3>
              <p>Complete Orders</p>
            </div>
          </div>

          <! --- About  ---->
          <div class="card-about">
            <p><strong>About Me</strong></p>
            <p>Hi I'm Constance! I've been cooking all my life, and it's a real passion of mine. I'm excited to share my favorite reciptes with you all!</p>
            <p><strong>Address</strong></p>
            <p><%= current_user.address %></p>
          </div>
        </div>
      </div>


      <div class="col-8">
      <! --- Meal & orders section ---->
        <div class="card-dash p-3 mt-3 mb-3">

          <div class="card p-2 mb-3 text-center">

            <h3 style="background-color: #1EDD88;">MY MEAL OF THE DAY</h3>
            <% if current_user.daily_meal.nil? %>
              <h4>Please set your meal of the day.</h4>
            <% else %>
              <h4><%= current_user.daily_meal %></h4>
            <% end %>
            <%= render "admin/meals/index" %>


            <h4 class="text-left">ORDERS</h4>
            <div class="card p-3 mb-3 text-center">
              <h2></h2>
            </div>

        </div>

      </div>
    </div>
  </div>
</div>




