<div class="container">
  <h1>My Dashboard</h1>
  <p><%= Date.today.to_formatted_s(:long) %></p>

  <div class="container">

    <div class="row">

      <! --- Profile bar ---->
      <div class="col-4">
        <div class="card p-3 mt-3 mb-3">

          <! --- Header ---->
          <div class="cards">
            <%= image_tag (current_user.photo), class: "avatar-dashboard" %>
            <div class="card-profile">
              <p class="mb-1"><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>
              <p>Rating <i class="fas fa-star" style="font-size: 15px;"></i> <%= current_user.average_rating %></p>
            </div>
          </div>

          <! --- Order cards ---->
          <div class="cards">
            <div class="card">
              <i class="far fa-file-alt"></i>
              <h3>50</h3>
              <p>New Orders</p>
            </div>
            <div class="card ml-2">
              <i class="fas fa-file-alt"></i>
              <h3>80</h3>
              <p>Complete Orders</p>
            </div>
          </div>

          <! --- About  ---->
          <div class="card-about">
            <p><strong>About Me</strong></p>
            <p>Hi I'm Constance! I've been cooking all my life, and it's a real passion of mine. I'm excited to share my favorite reciptes with you all!</p>
            <p><strong>Address</strong></p>
            <p><%= current_user.address %></p>
          </div>

        </div>
      </div>

      <! --- Meal & orders section ---->
      <div class="col-8 card-dashboard">

        <div class="card-meal">

          <div class="card-meal-of-day">
            <h2></h2>
          </div>

          <div class="card-meals">
            <div class="card-past-meals"></div>
            <button></button>
          </div>

        </div>

        <h4>ORDERS</h4>

        <div class="card-order">
          <div class="order-card">
            <img src="" alt="">
            <div class="order-info">
              <h4></h4>
              <p></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




